.contact{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px;
}
.contactCont{
    border: 1px solid white;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 20px;
}
.contactCont>p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 30px;
}
.contactCont>p>span{
    color:tomato;

}
.contactIcons>a>button>span> .MuiSvgIcon-rooot{
    color: white;
    font-size: 30px;
}
.contactIcons>a>.MuiIconButton-root{
    color: white !important;
}
